@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Open+Sans:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F5F7FF;
}

nav {
    box-shadow: 0px 2px 19px #40404008;
    height: 85px;
}

.logo_care {
    width: 226px;
    height: 85px;
}

.search {
    width: 372px;
    height: 48px;
    background: #FAFAFA;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.search input {
    border: none;
    background: #FAFAFA;
    outline: none;
    color: #948F8F;
}

.search .btn {
    color: #948F8F;
}

.admin img {
    width: 50px;
    height: 50px;
}

.admin-name {
    font-size: 20px;
    font-weight: 800;
}

.admin-txt {
    color: #A3A3A3;
    font-size: 20px;
}

.drop-down-btn,
.drop-down-btn:hover {
    width: 38px;
    height: 38px;
    background: #9F9F9F;
    box-shadow: 0px 3px 6px #00000029;
}

.dropdown-toggle::after {
    display: none;
}

.fa-angle-down {
    color: #FFF;
}

.dropdown-menu {
    border: none;
}

.drop-down-txt {
    font-size: 18px;
    color: #9F9F9F;
}

.sidebar_div {
    background: #FFF;
    z-index: 10;
}

.nav-pills li a:hover {
    background: #FF65011A;
    color: #9F9F9F;
    font-weight: bold;
}

.nav-pills li a:hover i {
    color: #FF6501;
}

.arrow-right {
    width: 35px;
    height: 30px;
    background: #FF6501;
    border-radius: 6px;
}

.arrow-right:hover {
    cursor: pointer;
}

.text-grey {
    color: #9F9F9F;
    font-size: 18px;
}

.fw-bold {
    font-size: 28px;
    color: #948F8F;
}
.employees{
    margin-left: 40px;
    font-size: 28px;
}
.new-employee {
    background: #FF6501;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 18px;
}

.new-employee:hover {
    background: #FF6501;
    color: #FFFFFF;
}

table {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 15px #0000000D;
    border-radius: 8px;
}

table thead {
    background: #FF650119 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
}

.table-scroll{
    overflow: scroll;
}

th, td{
    font-size: 16px;
}
@media only screen and (max-width: 428px) {
    nav {
        height: 79px;
    }

    .logo_care {
        width: 162px;
        height: 63px;
    }

    .navbar-toggler:focus,
    .navbar-toggler:active,
    .navbar-toggler-icon:focus {
        outline: none;
        box-shadow: none;
        border: none;
    }

    .navbar-toggler {
        border: none;
    }

    #navbarTogglerDemo03 {
        display: none;
    }

    .heading {
        flex-direction: column;
    }
    .employees{
        margin-left: -150px;
        font-size: 22px;
    }
    .new-employee{
        font-size: 18px;
    }
    
}