@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #F5F7FF;
}

.main_div {
    height: 100vh;
}

.card {
    background: #FFFFFF;
    box-shadow: 3px -5px 40px #CDCDD430;
    border: 1px solid #97979740;
    border-radius: 20px;
    width: 526px;
    height: 727px;
}

.hr {
    border: 1px solid #FF6501;
    width: 56%;
}

.login-ac {
    font-size: 26px;
    font-weight: bold;
}

fieldset {
    border-color: #d5d5d5;
}

legend {
    font-size: 16px;
    color: #BCBCBC;
}

input {
    font-size: 20px;
}

.fa-user {
    color: #6D7278;
    font-weight: 500;
    width: 25px;
    height: 25px;
    margin-left: -27px;
}

.password {
    width: 24px;
    height: 24px;
    margin-left: -31px;
    margin-right: 5px;
}

.form-check-label {
    font-size: 16px;
    color: #6D7278;
}

.input-field {
    margin-left: 10px;
    border: none;
}

.input-field:focus {
    outline: none;
}

.forgot {
    color: #EC3535;
    font-size: 16px;
}

.login {
    background: #FF6501;
    box-shadow: 0px 0px 20px #FF650173;
    border-radius: 6px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: -20px;
    font-size: 20px;
}

.btn:hover {
    background: #FF6501;
    color: #FFFFFF;
}

.copyright {
    font-size: 18px;
}

.text-black {
    font-weight: bolder;
}

@media only screen and (max-width: 428px) {
    .card {
        width: 388px;
        height: 583px;
    }

    .img-fluid {
        width: 114px;
        height: 114px;
    }

    .hr {
        width: 49%;
    }

    .login-ac {
        font-size: 22px;
    }

    fieldset {
        height: 48px;
    }

    legend {
        font-size: 14px;
    }

    .mb-2 {
        margin-top: -12px;
    }

    input {
        font-size: 18px;
    }

    .form-check-label {
        font-size: 14px;
    }

    .forgot {
        font-size: 14px;
    }

    .login {
        font-size: 18px;
    }

    .copyright {
        font-size: 16px;
    }
}